.info {
  /* height: 100vh; */
  background-color: var(--bg);
  color: white;
  /* margin-top: 5rem; */
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--yellow);
  font-family: "Playwrite HU", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.info .card {
  background-color: rgba(225, 225, 225, 0.488) !important;
  color: #ffffffe7 !important;
  border: 1px solid white;
}

.info .card-header {
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #fff;
  font-size: 0.9rem;
}

.peta iframe {
  width: 100%;
  height: 250;
  border-radius: 10px;
}

/* start-responsive */
@media (max-width: 1200px) {
  .info h2 {
    font-family: "Playwrite HU", cursive;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .heart {
    display: none;
  }
}
@media (max-width: 720px) {
  .info {
    padding-top: 2rem;
  }
  .info h2 {
    font-family: "Playwrite HU", cursive;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .info p {
    font-size: 12px;
  }
  .info p {
    /* background-color: aqua; */
    /* text-align: justify; */
    margin-left: 0.2rem;
    font-size: 14px;
  }
}
/* start-responsive */
