.header {
  justify-content: center;
  background-image: url(../../assets/wedding/bg.png);
  background-size: cover;
  min-height: 100vh;
  /* margin-top: -5.2rem; */
  padding-top: 2rem;
}

.my-header h2 {
  font-family: "Playwrite HU", cursive;
  color: var(--yellow);
  font-size: 4rem;
  font-weight: 500px;
}

.my-header p {
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.couple {
  margin-top: 10px;
}

.couple h3 {
  font-family: "Playwrite HU", cursive;
  /* color: var(--yellow); */
}

.couple .my-image {
  margin-top: 4rem;
  width: 100%;
  border-radius: 50%;
}
.couple img {
}

.heart {
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* background-color: rgb(250, 55, 220); */
  color: rgb(255, 0, 179);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(125px);
}

/* start-responsive */
@media (max-width: 1200px) {
  .heart {
    transform: translateX(-50%) translateY(110px);
  }
}

@media (max-width: 992px) {
  .heart {
    display: none;
  }
}
@media (max-width: 720px) {
  .heart {
    display: none;
  }

  .header .container {
    width: 90%;
    margin: auto;
  }

  .header {
    background-image: url(../../assets/wedding/bg.png);
  }
  .couple {
    margin-top: 0px;
  }
  .couple p {
    /* background-color: aqua; */
    text-align: justify;
    margin-left: 0.2rem;
    font-size: 14px;
  }
  .couple .my-image {
    margin-top: 3.5rem;
    width: 110%;
    border-radius: 50%;
  }
  .my-header h2 {
    font-family: "Playwrite HU", cursive;
    color: var(--yellow);
    font-size: 1.5rem;
    font-weight: 500px;
  }
  .my-header p {
    font-size: 16px;
    margin-top: 0.2rem;
    margin-bottom: -0.9rem;
    text-align: justify;
    justify-content: center;
  }
  .my-header h3 {
    font-size: 16px;
  }
  .my-header p {
    font-size: 14px;
  }
}
/* start-responsive */
