.history h2 {
  color: var(--yellow);
  font-family: "Playwrite HU", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.history {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.history span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.history p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #d1d1d1;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-img {
  background-color: #ffd1d1;
  width: 160px;
  height: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.timeline-img {
  background-image: url(../../assets/wedding/Portfolio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.timeline li .timeline-panel {
  width: 35%;
  float: left;
  border: 1px solid rgba(169, 169, 169, 0.4);
  padding: 2rem 1rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  /* background-color: #666; */
  border-top: 15px solid transparent;
  border-left: 15px solid #d9d9d9;
  border-right: 0px solid #d9d9d9;
  border-bottom: 15px solid transparent;
  right: -30px;
  top: 80px;
  /* transform: rotate(45deg);
  z-index: -1; */
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 14px solid transparent;
  right: -15px;
  top: 83px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -30px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -13px;
  right: auto;
}

/* start-responsive */
@media (max-width: 1200px) {
  .history h2 {
    font-family: "Playwrite HU", cursive;
    font-size: 2rem;
    font-weight: bold;
  }
  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-img {
    left: 30px;
    margin-left: 30px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc((100%-200px));
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -30px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -12px;
    right: auto;
  }
}

@media (max-width: 992px) {
  .timeline li .timeline-img {
    width: 140px;
    height: 140px;
  }
  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(15px);
  }
}
@media (max-width: 720px) {
  .history {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  .history h2 {
    font-family: "Playwrite HU", cursive;
    font-weight: bold;
  }
  .timeline {
    width: 95%;
  }
  .timeline li .timeline-panel {
    width: 35%;
    /* float: left; */
    border: 1px solid rgba(169, 169, 169, 0.4);
    padding: 0.5rem 1rem;
  }
  .timeline li .timeline-img {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width: 70%;
    transform: translateX(10px);
  }
  .timeline li .timeline-panel::before {
    top: 45px;
  }
  .timeline li .timeline-panel::after {
    top: 48px;
  }
}
/* start-responsive */
